<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>

<body>
    <section id="produtos">
        <nav>
            <a href="http://127.0.0.1:8000/products/"><button>link Produtos</button></a>
            <a href="http://127.0.0.1:8000/"><button>Inicio</button></a>
        </nav>
        <h1>Disponivel Em!</h1>
        <ul>
            <li>Xbox</li>
            <li>Ps4/Ps5</li>
            <li>Steam</li>
        </ul>
    </section>
</body>

</html>